header {
  padding: 0.5rem;
}

nav {
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

nav > div > button {
  height: 100%;
  padding: 0.5rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav > div > img {
  height: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--black);
}
