:host {
  width: 100%;
  display: block;
  padding: 0.125rem;
  border: 1px solid var(--a3);
  background-color: var(--e9);
}

.task-controls {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  width: 100%;
}

input[type="text"] {
  flex: 1;
  min-width: 0;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
}

button {
  width: 2rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-details {
  background-color: var(--primary);
  color: var(--e5);
}

.view-details:hover {
  background-color: var(--e5);
  color: var(--primary);
}

.delete-btn {
  border: 1px solid var(--a3);
  background-color: var(--e9);
  color: red;
}

.delete-btn:hover {
  background-color: red;
  color: var(--e5);
}

.drag-handle {
  cursor: move;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

.drag-handle:hover {
  color: var(--primary);
  background-color: var(--e5);
}

.cdk-drag {
  cursor: default;
}

.cdk-drag-handle {
  cursor: move;
}

.priority-indicator {
  width: 0.5rem;
}

.low-priority {
  background-color: var(--green);
}
.medium-priority {
  background-color: var(--orange);
}
.high-priority {
  background-color: var(--red);
}
