.task-controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex: 1;
}

select {
  padding: 0.25rem;
  border-radius: unset;
  outline: none;
  /* border: none; */
  border: 1px solid #ccc;
  font-size: 0.75rem;
  color: black;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ""; */
}

input {
  padding: 0.25rem;
  border: 1px solid #ccc;
}

button {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: lightgrey;
  color: red;
  cursor: pointer;
}

button:hover {
  background-color: red;
  color: white;
}

.low-priority {
  background-color: lightgreen;
}

.medium-priority {
  background-color: lightsalmon;
}

.high-priority {
  background-color: lightcoral;
}
