@font-face {
  font-family: "Departure";
  src: url("./assets/fonts/departure-mono/DepartureMono-Regular.otf")
      format("opentype"),
    url("./assets/fonts/departure-mono/DepartureMono-Regular.woff")
      format("woff"),
    url("./assets/fonts/departure-mono/DepartureMono-Regular.woff2")
      format("woff2");
}

:root {
  --white: #fff;
  --black: #000;
  --primary: #0000ff;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Departure", monospace;
}

html {
  height: 100%;
  width: 100%;
}

body {
  /* height: 100%; */
  width: 100%;
  background-color: lightgrey;
  color: var(--black);
  padding: 0.5rem;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black);
}

input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

button {
  padding: 0.5rem;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
