<main>
  <section class="side-menu">
    <section class="add-task">
      <span>Add</span>
      <input #newTaskName type="text" placeholder="Task name" />
      <input #newTaskDesc type="text" placeholder="Task description" />
      <select #newTaskStatus>
        <option value="to start">To Start</option>
        <option value="in progress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
      <select #newTaskPriority>
        <option value="low">Low</option>
        <option value="medium" selected>Medium</option>
        <option value="high">High</option>
      </select>
      <input #newTaskDueDate type="date" placeholder="Due date" />
      <input #newTaskCategories type="text" placeholder="Categories" />
      <input #newTaskTags type="text" placeholder="Tags" />
      <button
        (click)="
          addTask(
            newTaskName.value,
            newTaskDesc.value,
            newTaskStatus.value,
            newTaskPriority.value,
            newTaskDueDate.value,
            newTaskCategories.value,
            newTaskTags.value
          )
        "
      >
        ADD
      </button>
    </section>
    <section class="tasks-stats">
      <span>
        <span>{{ tasks.length | number : "3.0-0" }}</span>
        task(s).
      </span>
      <span>
        <span>{{
          (tasks | filter : { status: "completed" }).length | number : "3.0-0"
        }}</span>
        completed.
      </span>
      <section class="progress-bar">
        <span
          >{{
            ((tasks | filter : { status: "completed" }).length / tasks.length) *
              100 | number : "1.0-0"
          }}%</span
        >
        <div class="progress-container">
          <div
            class="progress"
            [style.width.%]="
              ((tasks | filter : { status: 'completed' }).length /
                tasks.length) *
              100
            "
          ></div>
        </div>
      </section>
    </section>
    <section class="tasks-stats">
      <span>Priority Distribution:</span>
      <section class="priority-stats">
        <div class="priority-bar">
          <div
            class="priority low"
            [style.width.%]="
              ((tasks | filter : { priority: 'low' }).length / tasks.length) *
              100
            "
          ></div>
          <div
            class="priority medium"
            [style.width.%]="
              ((tasks | filter : { priority: 'medium' }).length /
                tasks.length) *
              100
            "
          ></div>
          <div
            class="priority high"
            [style.width.%]="
              ((tasks | filter : { priority: 'high' }).length / tasks.length) *
              100
            "
          ></div>
        </div>
      </section>
    </section>
    <!-- <section class="tasks-stats">
      <span>Categories:</span>
      <section class="categories-stats">
        <div class="category-bar">
          <div class="category" *ngFor="let task of tasks">
            {{ task.categories }}
          </div>
        </div>
      </section>
    </section>
    <section class="tasks-stats">
      <span>Tags:</span>
      <section class="tags-stats">
        <div class="tag-bar">
          <div class="tag" *ngFor="let task of tasks">
            {{ task.tags }}
          </div>
        </div>
      </section>
    </section> -->
  </section>
  <section class="tasks-list">
    <div class="tasks-to-start">
      <span>To Start</span>
      <ul
        cdkDropList
        id="to start"
        [cdkDropListData]="tasks | filter : { status: 'to start' }"
        [cdkDropListConnectedTo]="['in progress', 'completed']"
        (cdkDropListDropped)="onDrop($event)"
      >
        <li
          *ngFor="
            let task of tasks | filter : { status: 'to start' };
            trackBy: trackById
          "
          cdkDrag
          cdkDragBoundary=".tasks-list"
          [cdkDragDisabled]="isTaskModalOpen(task._id)"
        >
          <app-card
            [task]="task"
            [isModalOpen]="isTaskModalOpen(task._id)"
            (taskUpdated)="updateTask($event[0], $event[1])"
            (taskDeleted)="deleteTask($event)"
            (modalClosed)="onModalClose()"
          ></app-card>
        </li>
      </ul>
    </div>

    <div class="tasks-in-progress">
      <span>In Progress</span>
      <ul
        cdkDropList
        id="in progress"
        [cdkDropListData]="tasks | filter : { status: 'in progress' }"
        [cdkDropListConnectedTo]="['to start', 'completed']"
        (cdkDropListDropped)="onDrop($event)"
      >
        <li
          *ngFor="
            let task of tasks | filter : { status: 'in progress' };
            trackBy: trackById
          "
          cdkDrag
          cdkDragBoundary=".tasks-list"
          [cdkDragDisabled]="isTaskModalOpen(task._id)"
        >
          <app-card
            [task]="task"
            [isModalOpen]="isTaskModalOpen(task._id)"
            (taskUpdated)="updateTask($event[0], $event[1])"
            (taskDeleted)="deleteTask($event)"
            (modalClosed)="onModalClose()"
          ></app-card>
        </li>
      </ul>
    </div>

    <div class="tasks-completed">
      <span>Completed</span>
      <ul
        cdkDropList
        id="completed"
        [cdkDropListData]="tasks | filter : { status: 'completed' }"
        [cdkDropListConnectedTo]="['to start', 'in progress']"
        (cdkDropListDropped)="onDrop($event)"
      >
        <li
          *ngFor="
            let task of tasks | filter : { status: 'completed' };
            trackBy: trackById
          "
          cdkDrag
          cdkDragBoundary=".tasks-list"
          [cdkDragDisabled]="isTaskModalOpen(task._id)"
        >
          <app-card
            [task]="task"
            [isModalOpen]="isTaskModalOpen(task._id)"
            (taskUpdated)="updateTask($event[0], $event[1])"
            (taskDeleted)="deleteTask($event)"
            (modalClosed)="onModalClose()"
          ></app-card>
        </li>
      </ul>
    </div>
  </section>
</main>
