<main>
  <section class="side-menu">
    <section class="add-task">
      <span>Add</span>
      <input #newTaskName type="text" placeholder="Task name" />
      <input #newTaskDesc type="text" placeholder="Task description" />
      <select #newTaskStatus>
        <option value="to start">To Start</option>
        <option value="in progress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
      <select #newTaskPriority>
        <option value="low">Low</option>
        <option value="medium" selected>Medium</option>
        <option value="high">High</option>
      </select>
      <input #newTaskDueDate type="date" placeholder="Due date" />
      <input #newTaskCategories type="text" placeholder="Categories" />
      <input #newTaskTags type="text" placeholder="Tags" />
      <button
        (click)="
          addTask(
            newTaskName.value,
            newTaskDesc.value,
            newTaskStatus.value,
            newTaskPriority.value,
            newTaskDueDate.value,
            newTaskCategories.value,
            newTaskTags.value
          )
        "
      >
        ADD
      </button>
    </section>
    <section class="tasks-stats">
      <span>
        <span>{{ tasks.length | number : "3.0-0" }}</span>
        task(s).
      </span>
      <span>
        <span>{{
          (tasks | filter : { status: "completed" }).length | number : "3.0-0"
        }}</span>
        completed.
      </span>
      <section class="progress-bar">
        <span
          >{{
            ((tasks | filter : { status: "completed" }).length / tasks.length) *
              100 | number : "1.0-0"
          }}%</span
        >
        <div class="progress-container">
          <div
            class="progress"
            [style.width.%]="
              ((tasks | filter : { status: 'completed' }).length /
                tasks.length) *
              100
            "
          ></div>
        </div>
      </section>
    </section>
    <section class="tasks-stats">
      <span>Priority Distribution:</span>
      <section class="priority-stats">
        <div class="priority-bar">
          <div
            class="priority low"
            [style.width.%]="
              ((tasks | filter : { priority: 'low' }).length / tasks.length) *
              100
            "
          ></div>
          <div
            class="priority medium"
            [style.width.%]="
              ((tasks | filter : { priority: 'medium' }).length /
                tasks.length) *
              100
            "
          ></div>
          <div
            class="priority high"
            [style.width.%]="
              ((tasks | filter : { priority: 'high' }).length / tasks.length) *
              100
            "
          ></div>
        </div>
      </section>
    </section>
  </section>
  <section class="tasks-list">
    <section class="tasks-to_start">
      <span>To Start</span>
      <ul>
        <li
          *ngFor="
            let task of tasks | filter : { status: 'to start' };
            trackBy: trackById
          "
        >
          <app-card
            [task]="task"
            (taskUpdated)="updateTask($event)"
            (taskDeleted)="deleteTask($event)"
          ></app-card>
        </li>
      </ul>
    </section>
    <section class="tasks-in_progress">
      <span>In Progress</span>
      <ul>
        <li
          *ngFor="
            let task of tasks | filter : { status: 'in progress' };
            trackBy: trackById
          "
        >
          <app-card
            [task]="task"
            (taskUpdated)="updateTask($event)"
            (taskDeleted)="deleteTask($event)"
          ></app-card>
        </li>
      </ul>
    </section>
    <section class="tasks-completed">
      <span>Completed</span>
      <ul>
        <li
          *ngFor="
            let task of tasks | filter : { status: 'completed' };
            trackBy: trackById
          "
        >
          <app-card
            [task]="task"
            (taskUpdated)="updateTask($event)"
            (taskDeleted)="deleteTask($event)"
          ></app-card>
        </li>
      </ul>
    </section>
  </section>
</main>
