<main>
  <section>
    <p>There are {{ tasks.length }} tasks.</p>
  </section>
  <section>
    <input #newTask type="text" />
    <button (click)="addTask(newTask.value)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-diamond-plus"
      >
        <path d="M12 8v8" />
        <path
          d="M2.7 10.3a2.41 2.41 0 0 0 0 3.41l7.59 7.59a2.41 2.41 0 0 0 3.41 0l7.59-7.59a2.41 2.41 0 0 0 0-3.41L13.7 2.71a2.41 2.41 0 0 0-3.41 0z"
        />
        <path d="M8 12h8" />
      </svg>
    </button>
  </section>
  <section>
    <ul>
      @for (task of tasks; track task.id) {
      <li>
        <span>{{ task.description }}</span>
        <button (click)="deleteTask(task.id)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-x"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </li>
      }
    </ul>
  </section>
</main>
